version: '3'
services:

  mqtt-broker:
    image: eclipse-mosquitto
    restart: always
    ports:
      - 1883:1883
      - 9001:9001
    volumes:
      - ./config:/mosquitto/config
      - ./data:/mosquitto/data
      - ./log:/mosquitto/log
    entrypoint: sh -c "mosquitto -c /mosquitto/config/mosquitto.conf"

